
/* layout */

.wrap {
    font-size: 20px;
    background: gray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.friend{
    border: 2px solid #000;
    width: 50%;
    display:block;
    border-radius: 2%;
    overflow: hidden;
}

section.friend .big-friend {
    padding: 20px 20px ;
    background: rgb(199, 199, 36);
    text-align: center;
    border-bottom: 2px solid #000;
}

section.friend #friend-ul{
    width: 100%;
    height: 600px;
}
section.friend #friend-ul li{
    margin: 15px 0;
}